@media only screen and (min-width: 1300px) {
    main {
        flex-direction: row;
        div {
            width: 50%;
        }
    }

    #cont-info{
        justify-items: center;
    }

    iframe{
        width: 80%;
    }
}