@media only screen and (min-width: 1300px) {
  span {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    line-height: 2em;
  }
  .layout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    padding-top: 1rem;
    gap: 20px;
    margin: 8vw;

    h3 {
      font-size: 30px;
      border: none;
      padding-top: 1em;
    }
    #precio1 {
      text-align: justify;
      padding: 2%;
      font-size: 20px;
      background-color: rgb(190, 192, 197);
      border-radius: 6px;
      box-shadow: 5px 5px 5px 5px rgba(15, 0, 0, 0.315);

      p {
        padding: 6%;
      }
    }
    #precio2 {
      box-shadow: 5px 5px 5px 5px rgba(15, 0, 0, 0.315);
      text-align: center;
      padding: 2%;
      background-color: rgb(190, 192, 197);
      border-radius: 6px;
      font-size: 20px;
      line-height: 1.8em;
    }
  }
  h3 {
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 20em;
    border: none;
  }
  #video-price {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
}
