#cont-form {
    padding: 2em;
    text-align: center;
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        input{
            width: 90%;
            height: 5vh;
            padding: 1em;
            border: 1px black solid;
        }
        textarea{
            width: 90%;
            height: 20vh;
            border: 1px black solid;
        }
        label{
            font-weight: bold;
            font-size: 18px;
        }
        button{
            padding: 0.5em;
            border-radius: 5px;
            width: 8%;
            background-color: rgb(95, 175, 212);
            color: white;
            border: 0;
        }
    }
}
h2{
    text-transform: uppercase;
}
#cont-info{
    text-align: center;
    h3{
        border: 0;
        padding: 0;
        font-size: 20px;
    }
    p{
        padding-bottom:1em;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    width: 90%;
    margin: 2em;
    box-shadow: 10px 10px 10px rgb(102, 102, 102);
}
