.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
    .negrita{
        font-weight: bold;
    }
span {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
}
.layout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  padding-top: 1rem;
  gap: 20px;
  margin: 8vw;

  h3 {
    font-size: 18px;
    border: none;
    padding-top: 1em;
  }
  #precio1 {
    text-align: justify;
    padding: 2%;
    background-color: rgb(190, 192, 197);
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px rgba(15, 0, 0, 0.315);

    p {
      padding: 6%;
    }
    
  }
  #precio2 {
    box-shadow: 5px 5px 5px 5px rgba(15, 0, 0, 0.315);
    text-align: center;
    padding: 2%;
    background-color: rgb(190, 192, 197);
    border-radius: 6px;
  }
}
#video-price {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2em;

  video {
    padding: 0.5em;
    margin-top:10px;
    align-self: center;
  }
}
  h3 {
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    line-height: 1.8em;
    color:rgb(63, 109, 226);
  }
  .pie-pagina {
    margin-top: 2vh;
    font-weight: bold;
    line-height: 1em;
  }

